@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

html{
    background-image: url("./img/Background_img.png");
    font-family: 'DynaPuff', cursive;
}

h1{
    background-color: red;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    border: 1px solid;
    border-color: black;
    font-family: 'DynaPuff', cursive;

}

.table{
    margin-left: auto;
    margin-right: auto;
}

td{
    margin: 2px;
    padding: 2px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
    font-family: 'DynaPuff', cursive;

}

button{
    border: 1px solid;
    border-color: black;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}